# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*-executed.ipynb

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/


# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
